* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    width: 100vw;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0px;
}

header img {
    height: 53px;
}

header ion-icon {
    font-size: 50px;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
    padding-left: 18px;
}

footer ion-icon {
    font-size: 35px;
}

footer input {
    border: none;
    width: 300px;
}

footer input::placeholder {
    font-style: italic;
    color: black;
    font-size: 15px;
}

main {
    margin-top: 106px;
    margin-bottom: 106px;
}

.mensagem {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
    font-size: 14px;
}